apiVersion: v1
kind: ServiceAccount
metadata:
  name: os-service-sa
  namespace: os-service
  annotations:
    # EKS IRSA (IAM Roles for Service Accounts)
    # This role ARN is substituted by sed during CD pipeline
    # Value comes from: terraform output os_service_irsa_role_arn
    eks.amazonaws.com/role-arn: "__IRSA_ROLE_ARN__"
---
# NOTE: IAM Policy is managed via Terraform em fiap-techchallenge-infra-database
# See: terraform/iam.tf
#
# The IRSA role includes permissions for:
# - SQS: SendMessage, ReceiveMessage, DeleteMessage, GetQueueAttributes
# - ECR: GetAuthorizationToken, BatchCheckLayerAvailability, GetDownloadUrlForLayer, BatchGetImage
#
# To apply manually, replace the placeholder:
# kubectl apply -f - <<EOF
# apiVersion: v1
# kind: ServiceAccount
# metadata:
#   name: os-service-sa
#   namespace: os-service
#   annotations:
#     eks.amazonaws.com/role-arn: "$(terraform -chdir=../infra-database/terraform output -raw os_service_irsa_role_arn)"
# EOF
